.skillText {
    font-size: 25px;
}

@media (min-width: 700px) {
    .slide {
        display: flex;
    }

    /* skills */
    .skillWrapper {
        width: 40vw;
        font-size: 2rem;
        padding: 30px;
    }
    .skillText {
        font-size: 1.8rem;
        text-align: left;
        padding: 30px;
    }

    /* works */
    .workImg {
        width: 55vw;
        height: 50vh;
        padding: 30px 30px 30px 100px;
    }
    .workWrapper {
        width: 50vw;
        font-size: 30px;
        padding: 50px 0 30px 100px;
        text-align: left;
    }
}