@media (min-width: 700px) {
    .slide {
        display: flex;
    }

    /* skills */
    .skillTitle {
        font-size: 5rem;
    }
    .skillWrapper {
        width: 40vw;
        font-size: 2rem;
        padding: 30px;
    }
    .skillText {
        font-size: 1.8rem;
        text-align: left;
        padding: 30px;
    }

    /* works */
    .workImg {
        width: 40vw;
        height: 100%;
    }
    .workImg img {
        height: 200px;
    }
    .workWrapper {
        width: 600px;
    }
}